<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zua.howzhi.mapper.DynamicMapper" >
  <resultMap id="BaseResultMap" type="com.zua.howzhi.model.Dynamic" >
    <id column="dynamic_id" property="dynamicId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dynamic
    where dynamic_id = #{dynamicId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zua.howzhi.model.Dynamic" >
    insert into dynamic (dynamic_id, user_id, title, 
      create_time, content)
    values (#{dynamicId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zua.howzhi.model.Dynamic" >
    update dynamic
    set user_id = #{userId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where dynamic_id = #{dynamicId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select dynamic_id, user_id, title, create_time, content
    from dynamic
    where dynamic_id = #{dynamicId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select dynamic_id, user_id, title, create_time, content
    from dynamic
  </select>

  <select id="selectByUser" resultMap="BaseResultMap" >
    select dynamic_id, user_id, title, create_time, content
    from dynamic where user_id = #{userId,jdbcType=INTEGER}
  </select>
</mapper>