<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zua.howzhi.mapper.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.zua.howzhi.model.Teacher" >
    <id column="teacher_id" property="teacherId" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teacher
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zua.howzhi.model.Teacher" >
    insert into teacher (teacher_id, date, sign,
      photo_url, username, name,
      password)
    values (#{teacherId,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{sign,jdbcType=VARCHAR},
      #{photoUrl,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zua.howzhi.model.Teacher" >
    update teacher
    set date = #{date,jdbcType=TIMESTAMP},
      sign = #{sign,jdbcType=VARCHAR},
      photo_url = #{photoUrl,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select teacher_id, date, sign, photo_url, username, name, password
    from teacher
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select teacher_id, date, sign, photo_url, username, name, password
    from teacher
  </select>
  <select id="login" resultMap="BaseResultMap" >
    select teacher_id, date, sign, photo_url, username, name, password
    from teacher
    where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>
</mapper>